<!-- nav -->
<nav id="nav" class="nav-primary hidden-xs nav-vertical" >
  <ul class="nav" data-spy="affix" data-offset-top="50">
    <li><a href="/yonetim"><i class="fa fa-pie-chart  fa-lg"></i><span>İstatislikler</span></a></li>
    <li><a href="/userlist"><i class="fa fa-users fa-lg"></i><span>Kullanıcılar</span></a></li>


    <li class="dropdown-submenu">
      <a href="#"><i class="fa fa-list fa-lg"></i><span>Kategoriler</span></a>
      <ul class="dropdown-menu">
        <li><a href="/kategoriekle/">Kategori Ekle</a></li>
        <li><a href="/altkategoriekle/">Alt Kategori ekle</a></li>


      </ul>
    </li>


    <li class="dropdown-submenu">
      <a href="/videos"><i class="fa fa-video-camera fa-lg"></i><span>Video Ekle</span></a>
    </li>

    <li class="dropdown-submenu">
      <a href="#"><i class="fa fa-star fa-lg"></i><span>Programlar</span></a>
      <ul class="dropdown-menu">
        <li><a href="/kategoriprogrami/">Kategori</a></li>
        <li><a href="/bireyselprogram/">Bireysel</a></li>


      </ul>

    </li>




<li class="dropdown-submenu">
  <a href="/bireyselresimleri"><i class="fa fa-picture-o fa-lg"></i><span>Resimler</span></a>
</li>

<li class="dropdown-submenu">
  <a href="/sorular"><i class="fa fa-question fa-lg"></i><span>Sorular</span></a>
</li>
    <li><a href="#"><i class="fa fa-money fa-lg"></i><span>Satışlar</span></a></li>
  </ul>
</nav>
<!-- / nav -->
