<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dr. Fit</title>
  <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="http://falinlove.com/static/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="http://falinlove.com/static/css/font.css">
	<link rel="stylesheet" href="http://falinlove.com/static/css/style.css">
  <link rel="stylesheet" href="http://falinlove.com/static/css/plugin.css">
  <link rel="stylesheet" href="http://falinlove.com/static/css/hungr.css">
  <!--[if lt IE 9]>
    <script src="/static/js/ie/respond.min.js"></script>
    <script src="/static/js/ie/html5.js"></script>
    <script src="/static/js/ie/excanvas.js"></script>
  <![endif]-->








</head>
<body>



  <section id="content">
    <section class="main padder">
      <div class="row">

  <div class="col-sm-3">
  </div>


            <div class="col-sm-6">
            <section class="panel">
              <div class="panel-body">

                <b>Gizlilik Sözleşmesi</b></br>
Kayıt için kullandığınız e-posta adresiniz ya da diğer araçlar vasıtası ile verdiğiniz üyelik bilgileri sadece aktivasyon ve size özel hazırlanacak programlar için kullanılacak ve yasal zorunluluklar ya da izniniz haricinde kesinlikle üçüncü şahıs ve kurumlarla paylaşılmayacaktır. Kullanıcının kendi isteği ve sorumluluğu altında olan tüm kişisel bilgi paylaşımından doğacak her türlü hak ihlali, özel bilgilerin üçüncü şahıslar tarafından kopyalanması, kullanılması, ve/veya paylaşılması Dr.Fit B.V. sorumluluğunda değildir.</br>

Dr.Fit , üyelik formlarından topladığı bilgileri, üçüncü şahıslarla kesinlikle paylaşmamakta, faaliyet dışı hiçbir nedenle ticari amaçla kullanmamakta ya da satmamaktadır.<br>
Dr.Fit, e-posta adresleri ve üyelik formlarında istediği kişisel bilgilerin haricinde uygulama kullanımı sırasında izlediği, ziyaretçi hareket ve tercihlerini analiz ederek yorumlamaktadır. Kişisel bilgiler içermeyen bu istatistiksel veriler, Dr.Fit müşterilerine daha özel bir hizmet sağlamak amacıyla Dr.Fit iş ortakları ile paylaşılabilecektir.<br>
Müşteri bilgileri, ancak resmi makamlarca bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapmak zorunda olduğu durumlarda resmi makamlara paylaşılabilecektir.
Kullanıcı sisteme girdiği tüm bilgilere sadece Kullanıcı talebi ile değiştirilebilir.


<b>KULLANICI SÖZLEŞMESİ</b></br>
Bu Kullanıcı Sözleşmesi Dr.Fit uygulamasını indiren “Kullanıcı” ile Jan Wolfspad 29, 5081MG Hilvarenbeek / Nederland adresinde faaliyet gösteren uygulama sahibi ve yönetim hakları ile marka dahil diğer tüm haklarının sahibi olan Dr.Fit B.V. arasında kurulmuş olup Uygulama’nın kullanım koşulları ve tarafların hak ve yükümlülüklerini düzenler.
Kullanıcı, Uygulama’yı indirip kullanması durumunda işbu Sözleşmedeki hüküm ve koşulları kabul etmiş sayılır.
<br><b>ŞİRKET’İN HAK VE YÜKÜMLÜLÜKLERİ</b></br>
Dr.Fit B.V. , Uygulama’yı indiren Kullanıcılara, sağlıklı yaşam ve spor konularında tavsiye amaçlı bilgiler sağlayacaktır. Şirket’in sağladığı tüm bilgi, yönlendirme ve içerikler sadece tavsiye niteliğinde olup Uygulama’nın kullanımı, içeriğin kapsamı ve spor konularındaki tavsiyelerin uygulamasından tamamen ve sınırsız olarak kullanıcı sorumludur.
Şirket, uygulamanın kullanımı sırasında üçüncü kişilerin faaliyetleri, tedarikçilerden kaynaklanan sorunlar, bağlantı problemleri, performans arızası, internet kesintileri, iletişim hatası, hırsızlık veya izinsiz olarak kayıtlara girilmesi ve bilgilerin çalınması vb. durumlar nedeni ile Uygulama’da oluşabilecek sorunlar ya da aksaklıklardan asla sorumlu tutulamaz.

Uygulama, kişiye özel ve bireysel kullanım içindir. Şirket, Kullanıcı’nın, Uygulama’yı kullanım amacına aykırı olarak kullandığını tespit etmesi durumunda Kullanıcı(lar)’ın üyeliğini durdurabilir, askıya alabilir ya da tamamen sonlandırabilir.
Uygulamanın kullanılması, bilgilerin ve diğer verilerin, programların vb. kullanılması sebebiyle sözleşmenin ihlali, haksız fiil, ya da başkaca sebeplere dayanarak doğabilecek doğrudan ve/veya dolaylı hiçbir zarardan Dr.Fit B.V. sorumlu değildir. Şirket, sözleşmenin ihlali, haksız fiil, ihmal ve/veya diğer sebepler neticesinde; işlemin kesintiye uğraması, hata, ihmal, kesinti konusunda her hangi bir sorumluluk kabul etmez.
Kayıt için kullandığınız e-posta adresiniz ya da diğer araçlar vasıtası ile verdiğiniz üyelik bilgileri sadece aktivasyon ve size özel hazırlanacak programlar için kullanılacak ve yasal zorunluluklar ya da izniniz haricinde kesinlikle üçüncü şahıs ve kurumlarla paylaşılmayacaktır. Kullanıcının kendi isteği ve sorumluluğu altında olan tüm kişisel bilgi paylaşımından doğacak her türlü hak ihlali, özel bilgilerin üçüncü şahıslar tarafından kopyalanması, kullanılması, ve/veya paylaşılması Dr.Fit B.V. sorumluluğunda değildir.
Uygulama içerisinde yapılan satın almalar kullanıcının mobil cihazına gönderilecektir. Kullanıcının mobil cihazı, App Store veya Google Play Store uygulamalarına erişim için kullanıcının internete wi-fi ile bağlı olması talep edilebilir. App Store ve Google Play Store’ un Genel Hüküm


ve Koşulları Mobil cihazın çeşidine ve App Store veya Google Play Store kullanımına bağlı olarak uygulanacaktır.
Uygulama içi satın almalar için önerilen teklifler önerildiği anda geçerli olup, daha sonra bu fiyatlar değişebilecektir.
Dr.Fit Kullanıcılarına daha iyi hizmet verebilmek amacıyla bazı kişisel bilgilerini (isim, yaş, cinsiyet, boy, kilo, e-posta vb.) talep etmektedir. Dr.Fit server ve bilgisayarlarında toplanan bu bilgiler, dönemsel kampanya çalışmaları, müşteri profillerine yönelik özel promosyon faaliyetlerinin kurgulanması ve istenmeyen iletilere yönelik müşteri sınıflandırma çalışmalarında Dr.Fit bünyesinde kullanılabilmektedir.
<br><b>KULLANICI’NIN HAK VE YÜKÜMLÜLÜKLERİ</b><br>
Uygulamada yer alan bilgilerin, görsel ve işitsel unsurların ve bunların düzenlemelerinin telif hakkı Dr.Fit B.V.’ye aittir.
Uygulama içerisinde yer alan hiçbir bilgi, istatistik ve bu internet sitesi adıyla gönderilen e-posta yazışmaları, Şirket’in yazılı izni olmaksızın kopyalanamaz, dağıtılamaz, çoğaltılamaz, değiştirilemez, üçüncü şahıslara iletilemez ve/veya sunulamaz. Uygulama aracılığı ile veya e-posta aracılığı ile yapılan yazışmalar, başka bir mecrada izinsiz olarak yayınlanamaz, kullanılamaz. Yazılı izin alınarak yapılan alıntılarda kaynak göstermek zorunludur. Aksi davranışlar halinde hukuki ve ceza-i yaptırımlar gerçekleştirilecektir.

Kullanıcı, istenilen bilgileri kendisinden talep edildiği şekilde tam ve gerçeğe uygun olarak doldurmak ve gerekli durumlarda güncellemek zorundadır. Bilgilerin eksik veya gerçeğe uygun olarak doldurulmaması verilen hizmeti doğrudan etkilemektedir ve bu durumundan tamamen kullanıcı sorumludur.
Kullanıcı 13 yaşının üzerinde olduğunu kabul ve beyan etmektedir. Kullanıcının en az 13 yaşını doldurmuş olması gerekmektedir.13 yaşının altındakiler hiçbir şart ve koşulda Uygulamayı kullanamaz.13 yaşını doldurmuş fakat reşit olmayan kullanıcıların velilerinin bu sözleşmeye açık onayını almış olduğu kabul edilir.
Kullanıcı, Uygulamanın internet bağlantısı ile çalıştığını, Uygulama içeriği video, yazı ve görsellerin internet bağlantısı ile görüntülendiğini, wi-fi üzerinden veya Kullanıcı’nın mobil internet paketi üzerinden internet kullanım bedellerinin tarafından karşılanacağını ve bu hususta bilgilendirildiğini kabul ve beyan eder.
Uygulama’da bulunan videolar, egzersizler ve spor bilgileri yalnızca bilgi amaçlıdır. Kullanıcı, Uygulama tarafından düzenlenen içerik ve spor programlarının tavsiye ve bilgilendirme niteliğinde olduğunu, içeriğin kullanımının tamamen kendi sorumluluğunda olduğunu bildiğini kabul ve beyan eder.
Bu uygulama kişinin herhangi bir sağlık sorunu olmadığı varsayılarak hazırlanmıştır ve kullanıcıların sağlıklarını olumsuz etkileyecek herhangi bir tavsiye veya yönlendirmede bulunmaz. Kullanıcı, içeriğin kullanımından önce sağlık sorunları ile ilgili olarak doktoruna danışmalı ve spor yapabilmek için gereken sağlık niteliklerine sahip olduğuna dair sağlık raporu almalıdır. Her hangi bir sağlık sorunu bulunan kişiler uygulamayı hiçbir şartla kullanamazlar.
Uygulama kullanıcıya yaptığı tavsiyeleri benzer profilde kişiler için spor ve sağlıklı yaşam alanında ki güncel bilimsel araştırmalar ve bilgiler üzerinden kendi geliştirdiği özel bir algoritma (yazılım) sayesinde oluşturmaktadır.
Uygulama hiçbir hastalık veya sağlık durumunun teşhis veya tedavisi üzerinden bilgi veya tavsiyelerde bulunmaz. Kullanıcı uygulama içerisinde oluşturulan tüm program veya tavsiyelerden hiçbirinin doktor tarafından oluşturulmuş tedavi yerine geçmediğini kabul ve beyan eder. Kullanıcı egzersiz programlarının ve kişisel tavsiyelerin uygulanmasının tamamen kendi takdirinde ve sorumluluğunda olduğunu kabul ve beyan eder. Şirket, kullanıcının kendi isteğiyle kullandığı uygulamanın sonuçlarından asla sorumlu tutulamaz.

Herhangi bir sakatlık, incinme,yaralanma vb. durumlardan tamamen ve sınırsız olarak kullanıcı sorumludur. Kullanıcının programları dikkatle ve tavsiye edilen şekilde uygulaması tavsiye edilir.

Kullanıcı her zaman Şirket’ten kendisi ile ilgili olarak saklanan verilerle ilgili bilgi ve bu bilgilerin silinmesini talep edebilir. Şirket her zaman uygulama kullanıcılarına gönderdiği e-postalar ve bildirimler ile kendisinin veya üçüncü kişilerin hizmetleri hakkında reklam ve promosyonlar yayınlayabilir ve bu kapsamda kendisine, elektronik posta, kısa mesaj gibi otomatik arama sistemleri vasıtasıyla ya da başkaca diğer iletişim vasıtaları ile farklı herhangi bir ön izin alınmaksızın bilgilendirme, pazarlama ve/veya reklam amacıyla elektronik ileti gönderilebileceğini kabul etmiştir. Kullanıcı bu sistemden çıkmak için Şirket’e contact@drfit.training adresine göndereceği e-posta ile talebini iletebilir.
Kullanıcı bilgileri uygulamaya üye olan kullanıcının daha sonra yeniden üyelik yapabilmesi için üyenin uygulamayı silmesini takiben bir yıl süre ile saklanacaktır.
Dr.Fit Kullanıcının bilimsel araştırmalar ve çalışmalar için verilerin kullanılmak istenmesi durumunda mutlaka Kullanıcı’nın veya Kullanıcının reşit olmaması halinde ebeveyninin onayını almaktadır.
Dr.Fit, Uygulama kullanımı sırasında Kullanıcı’nın izlediği, ziyaretçi hareket ve tercihlerini analiz ederek yorumlamaktadır. Kişisel bilgiler içermeyen bu istatistiksel veriler, Dr.Fit Kullanıcılarına daha özel bir hizmet sağlamak amacıyla Dr.Fit iş ortakları ile paylaşılabilecektir.
Kullanıcı bilgileri, ancak resmi makamlarca bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapmak zorunda olduğu durumlarda resmi makamlara açıklanabilecektir.
Kullanıcıların sisteme girdiği tüm bilgiler sadece Kullanıcının talebi ile değiştirilebilir.
<br><b>KULLANICININ CAYMA HAKKI</b><br>
Tüketici, ticari veya mesleki olmayan amaçlarla hareket eden gerçek veya tüzel kişi olup, burada düzenlenen cayma hakkı yalnızca tüketiciler için geçerlidir.
Uygulama, doğrudan Kullanıcı tarafından internet üzerinden indirildiğinden Kullanıcı’nın dilediği zaman Uygulama’dan ayrılarak veya Uygulamayı mobil cihazından kaldırarak vazgeçme hakkı bulunmaktadır.
Uygulama içi satın almalar için kullanıcının cayma hakkı App Store veya Google Play Store’un Genel Hüküm ve Koşullar’ına tabidir. Bu durumda Şirket, Kullanıcının satın almış olduğu hizmetlere ilişkin alacak hakkı ile tahsil edilmiş ödemeleri geri iade etmeme haklarını saklı tutar.
<br><b>ÖDEMELER VE DETAYLARI</b><br>
Uygulama ücretsiz olup, uygulama içi satın almalarda tüm vergiler dahil satış fiyatı için kullanıcılardan ayrıca onay alınacaktır. Kullanıcı, Şirket’in uygulama fiyatını ve uygulama içi fiyatları, kampanya ve paketleri her zaman tek taraflı olarak değiştirebileceğini, yapılan değişiklikler için güncelleme ve uygulama bilgilerini düzenli olarak kontrol edeceğini kabul ve beyan eder. Kullanıcı peşin ödemeli 1 aylık, 3 aylık ve yıllık üyelik paketlerinde; kampanyalı


üyeliklerde iptal gerçekleştirilmeyeceğini ve para iadesi yapılmayacağını kabul eder. Kullanıcı peşin ödemeli kampanya üyeliklerinin süre sonuna kadar devam edeceğini kabul eder. Otomatik yenilemeler abonelik süresi bitiminden 24 saat öncesine kadar iptal edilmediği sürece yenilenir. Ödemeler satın alma işleminizi onayladığınızda iTunes veya Play Store Hesabınızdan tahsil edilecektir.

Şirketin bazı servisleri şimdi veya gelecekte ödemeye tâbi olabilir. Ücretli Servisler için kullanım veya üyelik aşamasında Kullanıcı’ya bildirilen bütün ödeme şartları bu Sözleşme’nin bir parçasıdır.

Şirket, Ücretli Servislerin kullanımı için ödeme hesabı yoluyla Kullanıcılara fatura kesmek için bir üçüncü-şahıs ödeme işlemcisi kullanır. Ödeme süreci, Sözleşme’ye ek olarak Ödeme İşlemcisi’nin hüküm, koşul ve gizlilik şartlarına tabi olacaktır. Şirket, Ödeme İşlemcisi sebebiyle meydana gelecek herhangi bir hatadan asla sorumlu değildir. Ücretli Servisleri seçmekle Kullanıcı, Şirket’e Ödeme İşlemcisi yoluyla geçerli fiyatlandırmadaki tüm ücretleri, Ücretli Servislerin her kullanılışında uygulanabilir ödeme hükümleri uyarınca ödemeyi kabul eder ve Ödeme İşlemcisi yoluyla Kullanıcının seçilmiş ödeme sağlayıcısından ödeme alınması için Şirket’e izin verir. Kullanıcı, seçilmiş Ödeme Metodu’ nu kullanarak ödeme yapmayı kabul eder. Talep gönderilmiş veya ödeme yapılmış olsa dahi Şirket herhangi bir hata veya sorunu düzeltme hakkına sahiptir.


Kullanıcı tarafından kabul edildiği üzere Ücretli Servislerden bazıları ilk kullanımda tek seferlik bir ücretlendirmeden sonra sürekli ücretlendirme içeren servisler olabilmektedir. Kullanıcı, sürekli ücretlendirme içeren bir ücretli servisi seçerek, ilk kullanımda yapılan ücretlendirmeyi ve sonrasında yapılacak sürekli ücretlendirmeleri ve servisin iptal edilmesine kadar devam edecek tüm sürekli ücretlendirmeleri kabul eder. Kullanıcı verdiği onayı sonlandırdığını veya ödeme metodunu değiştirmek istediğini önceden yazılı belge ile (Şirket tarafından teslim alındığı onaylanan belge ile) bildirene kadar Şirket, ileride onay almaksızın Kullanıcıya periyodik ödemeler (aylık,3 aylık, yıllık) sunabilir. Bu talep, Şirket’in değişiklikler için hareket etmesinden önce gönderilmiş olan ödemeleri etkilemeyecektir. Kullanıcı, bu onayı sonlandırmak veya ödeme metodunu değiştirmek için Apple Store veya Play Store’ da satın alıma bağlı olan üyelik sayfasına gidebilecektir.

Ödemelere ilişkin şartlar, Kullanıcıların seçmiş olduğu Ödeme Metodu veya kredi kartı sağlayıcıları veya finansal kuruluşlarıyla aralarındaki sözleşme hükümlerine bağlı olacaktır. Şirketin Ödeme İşlemcisi yolu ile Kullanıcı’dan ödemeyi tahsil edememesi durumunda, Kullanıcı Şirketin ilk talebi üzerine Fatura Hesabına göre ödenecek miktarın tamamını ödemeyi kabul eder.

Kullanıcıların fatura hesabı için güncel, tam ve doğru bilgileri sağlaması gerekmektedir. Kullanıcılar bu hesapların güncel, tam ve doğru tutulabilmesi için gecikmeden tüm bilgileri güncellemelidirler (fatura adresinde, kredi kartı numarasında veya kredi kartı son kullanma tarihinde değişiklik olması vb. durumlar) ve eğer ödeme metotları iptal edildiyse (örn: kayıp veya çalınma), onaysız kapanma veya kullanıcı adı – şifre kullanımı gibi bir güvenlik ihlali ihtimalini fark etmişlerse derhal Şirketi veya ödeme işlemcisini bu konuda bilgilendirmelidirler. Bu tip bilgilerin değişikliği Apple Store veya Play Store’ un satın alıma bağlı olan güvenlik sayfasından takip edilebilir. Eğer Kullanıcı, yukarıda bahsedilen bilgilerden herhangi birini sağlamazsa, Ücretli Servisi yukarıda belirtildiği şekilde sonlandırmadığı sürece Şirket’ in Ücretli Servisin her kullanılışında fatura hesabı üzerinden ödeme almaya devam edeceğini kabul eder.

Eğer Kullanıcı’ nın Fatura Hesabı’ ndan çekilecek ödeme miktarı daha önceden alınması için onaylanan miktara nazaran değişime uğrarsa (vergi miktarlarındaki değişiklik vb.durumlarda) Kullanıcı, işlemin gerçekleşeceği günden bir gün önce ödeme gününün ve çekilecek miktarın kendisine bildirilmesini isteme hakkına sahiptir. Kullanıcının ödeme sağlayıcısıyla arasındaki anlaşma hükümleri Ödeme Metoduna uygulanacaktır. Kullanıcı, yapmış olduğu işlemleri Şirket’in işlemden hemen sonra veya fatura dönemleri boyunca veya dönem sonunda topluca faturalandırabileceğini kabul eder.

Kullanıcı’nın Ücretli Servisleri kullanmaya devam etmesi veya iptal etmemesi, Şirket’in bu Servisler için Kullanıcı’nın Ödeme Metodundan faturalandırmasına onay vermiş olduğu anlamına gelir. Şirket düzenlediği bu fatura miktarlarını Kullanıcı tarafından ödenmek üzere borç kaydedebilir ve Kullanıcı bu miktarları ödemeden sorumludur. Bu Şirket’ in Kullanıcı’dan direkt olarak ödeme alma hakkından feragat ettiği anlamına gelmez.Servis kullanım ücretleri peşin, taksitle, kullanım başına veya Kullanıcı tarafından Ücretli Servisi kullanırken önceden seçilmiş ve başkaca belirlenmiş şekilde ödenebilir.
Ücretli Servise erişim sağlayan tüm ücretsiz deneme sürümleri veya promosyonlar deneme sürümü için belirlenen zaman dilimi içerisinde kullanılmalıdır. Kullanıcı, Ücretli Servis için deneme sürümü sürecinin sonunda herhangi bir ücretlendirme gerçekleşmemesi için deneme sürümü süresinin bitmesinden önce Ücretli Servis kullanımını durdurmalıdır. Eğer Kullanıcı, deneme sürümü süresinin bitmesinden önce kullanımını iptal ederse ve buna rağmen Ücretli Servis ücretlendirilirse Şirket ile contact@drfit.training adresinden iletişime geçmelidir.
<br><b>LİSANS BİLGİLERİ</b><br>
Kullanıcı, Uygulama üzerinden bilgi ve içerik göndererek Şirket’e bu bilgi ve içeriklerin kullanımı için dünya çapında geçerli, karşılıksız, sürekli ve sınırsız lisans vermiş olduğunu kabul ve beyan eder.
Uygulamada yer alan hizmetler ile Kullanıcı belirli ürünler ve hizmetlerin performansını artırmak için tasarlanmış ek özellikler satın alabilir.
İşbu Sözleşme ve Uygulama ile ilgili olarak ortaya çıkacak uyuşmazlıklarda yetkili mahkeme, Şirket merkezinin bulunduğu yer mahkemesidir.







        </div>
      </section>
    </div>

    <div class="col-sm-3">
    </div>




      </div>


    </section>
  </section>

  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>&copy; Dr.fit 2017.</small><br><br>
        <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
      </p>
    </div>
  </footer>
  <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
  <!-- / footer -->
	<script src="http://falinlove.com/static/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="http://falinlove.com/static/js/bootstrap.js"></script>
  <!-- app -->
  <script src="http://falinlove.com/static/js/app.js"></script>
  <script src="http://falinlove.com/static/js/app.plugin.js"></script>
  <script src="http://falinlove.com/static/js/app.data.js"></script>

  <!-- Sparkline Chart -->
  <script src="http://falinlove.com/static/js/charts/sparkline/jquery.sparkline.min.js"></script>
  <!-- Easy Pie Chart -->
  <script src="http://falinlove.com/static/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
</body>
</html>
